supabase/
.prettierignore
.prettierrc
README.md
docs/
ios/
android/
.claude
.expo
.github
.vscode
docs
scripts
.DS_Store
.env.example
.env.local
.gitignore
.watchmanconfig
google-services.json
LEGACY_README.sql
package-lock.json
README.md
cadence-docs/
